body {
    background-color: aliceblue;
    color: darkblue
}

h1,h2 {
    color: crimson;
}

a, a:visited, a:hover, a:active {
    color: crimson;
    text-decoration: none;
}

.header-image {
    display: block;
    margin: 0 auto;
}

.header-line {
    width: 70%;
    
}