body {
    background-color: aliceblue;
    color: darkblue
}

h1,h2.tipus1 {
    color: crimson;
}

h1,h2.tipus2 {
    color: aliceblue;
    background-color: crimson;
}

a, a:visited, a:hover, a:active {
    color: crimson;
    text-decoration: none;
}

.header-image {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    text-align: center;
}

.header-line {
    width: 70%;

}

.jobb-kep {
    float: right;
    border: 1px solid;
}

div {
    text-align: center;
}

table.kozep {
    width: 500px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 6px;
    text-align: center;
}

table.kozep td {
    padding: 6px;
    border: none;
}

table.kozep td.elso {
    width: 240px;
}